.article-image img[alt="Featured image of post Songs in the Key of Mike"]:not(.article-list .article-image img[alt="Featured image of post Songs in the Key of Mike"]) {
    object-fit: contain !important;
}

.article-image img[alt="Featured image of post Upcoming Show in January"]:not(.article-list .article-image img[alt="Featured image of post Upcoming Show in January"]) {
    object-fit: contain !important;
}

.article-image img[alt="Featured image of post Upcoming Show in February"]:not(.article-list .article-image img[alt="Featured image of post Upcoming Show in February"]) {
    object-fit: contain !important;
}
